<h1>Du solltest mindestens das Template {{ webfactoryExceptionsBundleConfiguredBundleName }}:Exception:error.html.twig anlegen!</h1>

<p>Entweder gibt es diese Datei nicht oder Du hast den falschen Bundlenamen konfiguriert.</p>
<p>Noch besser ist es, wenn Du je Fehlercode und / oder Format spezifische Dateien anlegst, also z.B. error404.html.twig oder error500.json.twig.</p>