<h1>Du solltest mindestens ein Template "error.html.twig" in deinem WebsiteBundle in dem Ordner "Exception" anlegen!</h1>

<p>Entweder gibt es diese Datei nicht oder Du hast den falschen Bundlenamen konfiguriert.</p>
<p>Noch besser ist es, wenn Du je Fehlercode und / oder Format spezifische Dateien anlegst, also z.B. error404.html.twig oder error500.json.twig.</p>
